Source: pixie
Section: web
Priority: optional
Maintainer: Léo Torres <leo0609leo@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-cargo,
 cargo,
 rustc,
 librust-serde-dev,
 librust-serde+derive-dev,
 librust-serde-yaml-dev
Standards-Version: 4.7.3
Homepage: https://github.com/laflut3/Pixie
Vcs-Git: https://github.com/laflut3/Pixie.git
Vcs-Browser: https://github.com/laflut3/Pixie
Rules-Requires-Root: no

Package: pixie
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Minimal static HTTP server written in Rust
 Pixie is a minimal static HTTP server implemented in Rust.
 This package installs the `pixie` binary and static web pages
 under `/usr/share/pixie/web`.
