[Unit]
Description=Pixie HTTP server
Documentation=https://github.com/laflut3/Pixie
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pixie
DynamicUser=yes
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
CapabilityBoundingSet=
AmbientCapabilities=
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
